.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}
.aboutTitle {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.aboutBody {
  color: var(--black-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;

  font-weight: 300;
}
.aboutContentContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 50vw;
}
.aboutImageContainer {
}
.aboutImage {
  width: 500px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px;
  border-width: 0;
  aspect-ratio: 1;
}
