.container {
  background-color: var(--black-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 100px;
  z-index: 1; /* Set a higher z-index for the header */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 1; /* Set a higher z-index for the navbar */
}

nav {
  margin-top: 12px;
}

nav a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-inline: 10px;
}

nav a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 10px;
  font-weight: bold;
}

.logo {
  width: 50px;
  aspect-ratio: 1;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 20vw;
  z-index: 1;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-width: 0;
  background-color: var(--white-color);
  padding: 12px;
  border-radius: 4px;
  gap: 10px;
}

.searchbar input {
  border-width: 0;
  height: 40px;
  flex: 1;
  color: #f3ebe8;
  width: 200px;
  border-radius: 20px;
}

.nav-button {
  width: 40px;
  aspect-ratio: 1;
  background-color: var(--white-color);
  border-width: 0;
  border-radius: 8px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1; /* Set a higher z-index for the nav button */
}
